*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
body{
  font-family: 'Signika', sans-serif;
}
.container{
  width: 90%;
  margin: 0 auto;
}
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import"hero";
@import"about";
@import"maps";